@use "../master.module.scss" as master;
//events component needs container for width
.eventContainer {
    width: 100%;
    height: 562px;
    border: 1px solid var(--linkActiveColor);
    border-radius: 50px;
    background-color: #f6f6f6;
    padding: 16px 16px 37px;
    position: relative;
    margin-bottom: 25px;
    @media (max-width: master.$xl) {
        border-radius: 44px;
    }
    @media (max-width: master.$lg) {
        border-radius: 40px;
    }
    @media (max-width: master.$md) {
        border-radius: 34px;
    }
    & > .imageContainer {
        height: 352px;
    }
}
.eventSm {
    height: 524px;
    @media (max-width: master.$xl) {
        padding: 12px 12px 25px;
        height: 438px;
    }
    @media (max-width: master.$lg) {
        padding: 11px 11px 25px;
        height: 370px;
    }
    @media (max-width: master.$md) {
        padding: 10px 10px 25px;
        height: 342px;
    }
    & > .imageContainer {
        height: 315px;
        @media (max-width: master.$xl) {
            height: 257px;
        }
        @media (max-width: master.$lg) {
            height: 216px;
        }
        @media (max-width: master.$md) {
            height: 187px;
        }
    }
}
.eventWhite {
    background-color: #fff !important;
    & .actionBtn {
        background-color: #fff !important;
    }
}
.imageContainer {
    width: 100%;
    position: relative;
    overflow: hidden;
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
        @media (max-width: master.$xl) {
            border-radius: 34px;
        }
        @media (max-width: master.$lg) {
            border-radius: 30px;
        }
        @media (max-width: master.$md) {
            border-radius: 25px;
        }
    }
}

.dataContainer {
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: master.$xl) {
        padding: 22px 0;
    }
    @media (max-width: master.$lg) {
        padding: 18px 0;
    }
    @media (max-width: master.$md) {
        padding: 20px 0;
    }

    & > h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        color: var(--textColor);
        @media (max-width: master.$xl) {
            font-size: 16px;
            line-height: 20px;
        }
        @media (max-width: master.$lg) {
            font-size: 14px;
            line-height: 16px;
        }
        @media (max-width: master.$md) {
            font-size: 13px;
            line-height: 16px;
        }
    }
    & > p {
        margin-top: 8px;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: var(--textColor);
        @media (max-width: master.$xl) {
            margin-top: 7px;
            font-size: 14px;
            line-height: 17px;
        }
        @media (max-width: master.$lg) {
            font-size: 12px;
            line-height: 14px;
            margin-top: 8px;
        }
        @media (max-width: master.$md) {
            font-size: 13px;
            line-height: 14px;
        }
    }
}

.divider {
    width: calc(100% - 45px);
    background-color: var(--linkActiveColor);
    height: 1px;
    margin: 0 auto 3px;
    @media (max-width: master.$xl) {
        width: calc(100% - 40px);
    }
    @media (max-width: master.$lg) {
        width: calc(100% - 34px);
    }
    @media (max-width: master.$md) {
        width: calc(100% - 28px);
    }
}
.priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: 0 21px;
    @media (max-width: master.$xl) {
        margin-top: 22px;
        padding: 0 19px;
    }
    @media (max-width: master.$lg) {
        margin-top: 18px;
        padding: 0 17px;
    }
    @media (max-width: master.$md) {
        margin-top: 20px;
        padding: 0 14px;
    }
    & > p {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: var(--textColor);
        @media (max-width: master.$xl) {
            font-size: 16px;
            line-height: 20px;
        }
        @media (max-width: master.$lg) {
            font-size: 14px;
            line-height: 17px;
        }
        @media (max-width: master.$md) {
            font-size: 13px;
            line-height: 16px;
        }
    }
}
.actionBtn {
    position: absolute !important;
    border: solid 1px var(--linkActiveColor) !important;
    background-color: #f6f6f6 !important;
    border-radius: 50% !important;
    width: 52px !important;
    height: 52px !important;
    left: calc(50% - 26px);
    max-width: 52px !important;
    min-width: 52px !important;
    bottom: -26px !important;
    &:hover{
        // background-color: #04a777 !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    }
    @media (max-width: master.$xl) {
        width: 45px !important;
        height: 45px !important;
        bottom: -23px !important;
        max-width: 45px !important;
        min-width: 45px !important;
        left: calc(50% - 23px);
    }
    @media (max-width: master.$lg) {
        width: 38px !important;
        height: 38px !important;
        bottom: -19px !important;
        max-width: 38px !important;
        min-width: 38px !important;
        left: calc(50% - 20px);
    }
    // @media (max-width: master.$md) {
    //     width: 40px !important;
    //     height: 40px !important;
    //     bottom: -20px !important;
    //     max-width: 40px !important;
    //     min-width: 40px !important;
    //     left: calc(50% - 19px);
    // }
    & img {
        transform: translateX(2px);
        @media (max-width: master.$xl) {
            width: 8px;
            transform: translateX(1px);
        }
        @media (max-width: master.$lg) {
            width: 7px;
            transform: translateX(1px);
        }
    }
}
