@use "../master.module.scss" as master;

//instrument component needs container for width
.instructorContainer {
    width: 100%;
    height: 361px;
    border: 1px solid var(--borderColor);
    border-radius: 30px;
    overflow: hidden !important;
    background-color: #fff;
    transition: all 250ms ease;
    min-width: 238px;
    &:hover {
        // box-shadow: 0 3px 6px rgba(0,0,0,0.1);
        // border-color: transparent;
    }
    @media (max-width: master.$xl) {
        height: 300px;
        border-radius: 26px;
        min-width: 198px;
    }
    @media (max-width: master.$lg) {
        height: 255px;
        border-radius: 26px;
        min-width: 168px;
    }
    @media (max-width: master.$md) {
        height: 230px;
        border-radius: 24px;
        min-width: 153px;
    }
    & > .imageContainer {
        height: 255px;
        border-bottom: 1px solid var(--borderColor);
        overflow: hidden !important;
        @media (max-width: master.$xl) {
            height: 212px;
        }
        @media (max-width: master.$lg) {
            height: 180px;
        }
        @media (max-width: master.$md) {
            height: 164px;
        }
    }
    & > .dataContainer {
        height: calc(100% - 255px);
        @media (max-width: master.$xl) {
            height: calc(100% - 212px);
        }
        @media (max-width: master.$lg) {
            height: calc(100% - 180px);
        }
        @media (max-width: master.$md) {
            height: calc(100% - 164px);
        }
    }
}
.instructorContainerSm {
    height: 322px !important;
    min-width: 0 !important;

    @media (max-width: master.$xl) {
        height: 265px !important;
    }
    @media (max-width: master.$lg) {
        height: 227px !important;
    }
    @media (max-width: master.$md) {
        height: 221px !important;
    }
    & > .imageContainer {
        height: 225px !important;
        overflow: hidden !important;
        @media (max-width: master.$xl) {
            height: 184px !important;
        }
        @media (max-width: master.$lg) {
            height: 159px !important;
        }
        @media (max-width: master.$md) {
            height: 152px !important;
        }
    }
    & > .dataContainer {
        height: calc(100% - 225px);
        @media (max-width: master.$xl) {
            height: calc(100% - 184px);
        }
        @media (max-width: master.$lg) {
            height: calc(100% - 159px);
        }
        @media (max-width: master.$md) {
            height: calc(100% - 152px);
        }
    }
    & h3,
    & p {
        font-size: 16px !important;
        @media (max-width: master.$xl) {
            font-size: 14px !important;
        }
        @media (max-width: master.$lg) {
            font-size: 12px !important;
        }
        @media (max-width: master.$md) {
            font-size: 11px !important;
        }
    }

    & .language {
        width: 44px !important;
        height: 44px !important;
        font-size: 15px !important;
        margin: 0 8px !important;
        @media (max-width: master.$xl) {
            font-size: 14px !important;
            width: 38px !important;
            height: 38px !important;
            margin: 0 7px !important;
        }
        @media (max-width: master.$lg) {
            font-size: 12px !important;
            width: 34px !important;
            height: 34px !important;
            margin: 0 5px !important;
        }
        @media (max-width: master.$md) {
            font-size: 12px !important;
            width: 36px !important;
            height: 36px !important;
            margin: 0 4px !important;
        }
    }
}
.imageContainer {
    width: 100%;
    position: relative;
    overflow: hidden !important;
    &:hover {
        .languagesContainer {
            bottom: 0;
        }
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
        @media (max-width: master.$md) {
            border-radius: 24px 24px 0 0;
        }
    }
}
.languagesContainer {
    transition: all 250ms ease;
    position: absolute;
    width: 101%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background-color: var(--overlayColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    @media (max-width: master.$xl) {
        border-radius: 25px 25px 0 0;
    }
    @media (max-width: master.$md) {
        border-radius: 24px 24px 0 0;
    }
    & > .language {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #fff;
        color: #fff;
        border-radius: 50%;
        margin: 0 9px;
        cursor: auto;
        font-size: 18px;
        text-transform: uppercase;
        &:hover {
            background-color: #ffffff1a;
        }
        @media (max-width: master.$xl) {
            font-size: 15px;
            width: 42px;
            height: 42px;
            margin: 0 8px;
        }
        @media (max-width: master.$lg) {
            font-size: 13px;
            width: 38px;
            height: 38px;
            margin: 0 6px;
        }
        @media (max-width: master.$md) {
            font-size: 12px;
            width: 36px;
            height: 36px;
            margin: 0 5px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.dataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white30Percent);
    & > h3,
    & > p {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.61;
        text-align: center;
        color: var(--textColor);

        @media (max-width: master.$xl) {
            font-size: 16px !important;
        }
        @media (max-width: master.$lg) {
            font-size: 14px !important;
        }
        @media (max-width: master.$md) {
            font-size: 13px !important;
        }
    }
    & > p {
        font-weight: normal !important;
    }
}

.nameBgColorTransparent {
    background-color: transparent !important;
}
