@use "../master.module.scss" as master;

//post component needs container for width
.postContainer {
    width: 100%;
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    @media (max-width: master.$xl) {
        height: 500px;
    }
    &:hover {
        & .overlay {
            top: calc(100% - 248px);
            & > h3 {
                border-bottom: 1px solid #fff;
            }
        }
    }
}
.imageContainer {
    width: 100%;
    height: 100%;
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.overlay {
    width: 100%;
    height: 248px;
    position: absolute;
    background-color: var(--overlayDarkColor);
    top: calc(100% - 90px);
    padding: 0 30px 30px;
    transition: all 250ms ease;
    @media (max-width: master.$xl) {
        top: calc(100% - 80px);
        padding: 0 27px 27px;

    }
    & > h3 {
        transition: all 250ms ease;
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        padding: 30px 0 15px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        margin-bottom: 15px;
        @media (max-width: master.$xl) {
            font-size: 18px;
            line-height: 26px;
            padding: 27px 0 15px;

        }
    }
    & > .brief {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: normal;
        text-align: left;
        color: #f9f9f9;
        @media (max-width: master.$xl) {
            font-size: 14px;
            line-height: 19px;
        }
    }
    & > .actionsContainer {
        position: absolute;
        bottom: 30px;
        width: calc(100% - 60px);
        height: 40px;
        left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > p {
            font-size: 14px;
            line-height: 23px;
            color: #eae8d9;
            @media (max-width: master.$xl) {
                font-size: 12px;
                line-height: 19px;
            }
        }
        & > button {
            width: 110px;
            height: 40px;
            border-radius: 114px;
            border: solid 1px #fff;
            font-size: 16px;
            color: #fff;
            text-transform: none;
            font-weight: lighter;
            @media (max-width: master.$xl) {
                font-size: 14px;

            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}
