//post component needs container for width
@use "../master.module.scss" as master;
.icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px var(--overlayColor);
    @media (max-width: master.$lg) {
        width: 14px;
        height: 14px;
    }
    @media (max-width: master.$md) {
        width: 15px;
        height: 15px;
    }
}
.iconXl {
    width: 16px;
    height: 16px;
    @media (max-width: master.$lg) {
        width: 15px;
        height: 15px;
    }
    @media (max-width: master.$md) {
        width: 16px;
        height: 16px;
    }
}
.checkedIcon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px var(--darkPurple);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: master.$lg) {
        width: 14px;
        height: 14px;
    }
    @media (max-width: master.$md) {
        width: 15px;
        height: 15px;
    }
    &:after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: var(--darkPurple);
        @media (max-width: master.$lg) {
            width: 8px;
            height: 8px;
        }
        @media (max-width: master.$md) {
            width: 9px;
            height: 9px;
        }
    }
}
.checkedIconXl {
    width: 16px;
    height: 16px;
    @media (max-width: master.$lg) {
        width: 15px;
        height: 15px;
    }
    @media (max-width: master.$md) {
        width: 16px;
        height: 16px;
    }
    &:after {
        width: 10px;
        height: 10px;
        @media (max-width: master.$lg) {
            width: 9px;
            height: 9px;
        }
        @media (max-width: master.$md) {
            width: 10px;
            height: 10px;
        }
    }
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    &:hover {
        & > .icon {
            border: solid 1px var(--darkPurple);
        }
        & > .checkedIcon {
            border: solid 1px var(--darkPurple);
        }
    }
    & > label {
        cursor: pointer;
        margin-left: 18px;
        text-transform: capitalize;
        font-size: 16px;
        line-height: 1.31;
        color: var(--textColor);
        @media (max-width: master.$xl) {
            font-size: 15px;
            margin-left: 17px;
        }
        @media (max-width: master.$lg) {
            font-size: 13px;
            margin-left: 16px;
        }
        @media (max-width: master.$md) {
            font-size: 13px;
            margin-left: 14px;
        }
    }
}

.greenBg {
    & .checkedIcon {
        border: solid 1px var(--linkActiveColor);
        &:after {
            background-color: var(--linkActiveColor);
        }
    }
    &:hover {
        & > .icon {
            border: solid 1px var(--linkActiveColor);
        }
        & > .checkedIcon {
            border: solid 1px var(--linkActiveColor);
        }
    }
}

.xlLabel {
    font-size: 20px !important;
    @media (max-width: master.$xl) {
        font-size: 18px !important;
        }
    @media (max-width: master.$lg) {
        font-size: 16px !important;
    }
    @media (max-width: master.$md) {
        font-size: 15px !important;
    }
}
