@use "./master.module.scss" as master;

.blogMainContainer {
    padding: 30px 0;
    display: flex;
    max-width: 1436px;
    margin: 164px auto 0;
    flex-direction: column;
    @media (max-width: master.$xl) {
        max-width: 1150px;
        margin: 134px auto 0;
        padding: 30px 0;
    }
    @media (max-width: master.$lg) {
        max-width: 980px;
        margin: 115px auto 0;
        padding: 26px 0;
    }
    @media (max-width: master.$md) {
        max-width: 856px;
        margin: 109px auto 0;
        padding: 32px 0;
    }
}

.blogHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-bottom: 25px;
    // border-bottom: solid 1px var(--overlayColor);
    color: var(--pinkColor);
    position: relative;
    &:after {
        width: 100%;
        height: 3px;
        content: "";
        z-index: -1;
        background-color: var(--headerBgColor);
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 3px;
    }
    // & span{
    //     background-color: var(--pinkColor);
    // }
}

.blogSearch {
    height: 46px;
    width: 46px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    // padding: 0 10px;
    transition: all 250ms ease;
    background-color: #f9f9f9;
    border: 1px solid #d9036800;
    @media (max-width: master.$xl) {
        height: 40px;
        width: 40px;
    }
    @media (max-width: master.$lg) {
        height: 36px;
        width: 36px;
    }
    @media (max-width: master.$md) {
        height: 38px;
        width: 38px;
    }
    & .searchIconConntainer {
        width: 42px;
        height: 42px;
        min-width: 42px;
        max-width: 42px;
        margin-left: 10px;
        cursor: pointer;
        background-color: var(--pinkColor);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        @media (max-width: master.$xl) {
            width: 36px;
            height: 36px;
            min-width: 36px;
            max-width: 36px;
        }
        @media (max-width: master.$lg) {
            width: 32px;
            height: 32px;
            min-width: 32px;
            max-width: 32px;
        }
        @media (max-width: master.$md) {
            width: 34px;
            height: 34px;
            min-width: 34px;
            max-width: 34px;
        }
        & > img {
            width: 20px;
            @media (max-width: master.$xl) {
                width: 16px;
            }
            @media (max-width: master.$lg) {
                width: 12px;
            }
            @media (max-width: master.$md) {
                width: 14px;
            }
        }
    }
    & > input {
        width: 100%;
        border: none;
        outline: none !important;
        padding: 10px 0 10px 15px;
        background-color: #f9f9f9;
    }
}

.blogSearchOpen {
    width: 300px;
    border: 1px solid var(--pinkColor);
    @media (max-width: master.$md) {
        width: 250px;
    }
    & .searchIconConntainer {
        width: 42px;
        height: 42px;
        min-width: 42px;
        max-width: 42px;
        margin-left: 10px;
        cursor: pointer;
        background-color: #82026300;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        @media (max-width: master.$xl) {
            width: 36px;
            height: 36px;
            min-width: 36px;
            max-width: 36px;
        }
        @media (max-width: master.$lg) {
            width: 32px;
            height: 32px;
            min-width: 32px;
            max-width: 32px;
        }
        @media (max-width: master.$md) {
            width: 34px;
            height: 34px;
            min-width: 34px;
            max-width: 34px;
        }
        & > img {
            width: 20px;
            @media (max-width: master.$xl) {
                width: 16px;
            }
            @media (max-width: master.$lg) {
                width: 13px;
            }
            @media (max-width: master.$md) {
                width: 14px;
            }
        }
    }
}

.postsListContainer {
    padding-top: 42px;
    @media (max-width: master.$lg) {
        padding-top: 38px;
    }
}
.postsList {
    width: 100%;
    grid-column-gap: 42px;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @media (max-width: master.$lg) {
        grid-column-gap: 38px;
    }
}
.postsListRow {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 42px;
    @media (max-width: master.$lg) {
        row-gap: 38px;
    }
}
.noResult {
    width: 100%;
    margin-top: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > p {
        font-size: 15px;
        line-height: 1.33;
        color: var(--pinkColor);
        text-align: left;
        margin-top: 15px;
    }
}

.bt {
    position: relative;
    // border-top:1px solid var(--overlayColor);
    padding-top: 25px;
    margin-top: 31px;
    &:before {
        position: absolute;
        width: calc(100% + 60px);
        left: -30px;
        top: 0;
        height: 1px;
        background-color: var(--overlayColor);
        content: "";
    }
}
