@use "./master.module.scss" as master;

.footerGrandContainer {
    width: 100%;
    padding: 150px 0;
    background-color: var(--footerBgColor);
    @media (max-width: master.$xl) {
        padding: 120px 0;
    }
    @media (max-width: master.$lg) {
        padding: 100px 0;
    }
}
.copyrightGrandContainer {
    width: 100%;
    padding: 30px 0;
    background-color: #f9f9f9;
    @media (max-width: master.$xl) {
        padding: 28px 0;
    }
    @media (max-width: master.$lg) {
        padding: 25px 0;
    }
}
.copyrightContainer {
    width: 100%;
    max-width: 1433px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: master.$xl) {
        max-width: 1150px;
    }
    @media (max-width: master.$lg) {
        max-width: 980px;
    }
    @media (max-width: master.$md) {
        max-width: 856px;
    }
}
.footerContainer {
    width: 100%;
    max-width: 1433px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #ebebeb;
    @media (max-width: master.$xl) {
        max-width: 1150px;
    }
    @media (max-width: master.$lg) {
        max-width: 980px;
    }
    @media (max-width: master.$md) {
        max-width: 856px;
    }
    & > div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    & h3 {
        font-size: 24px;
        font-family: var(--fontBold);
        line-height: 32px;
        color: #fff;
        margin-bottom: 45px;
        @media (max-width: master.$xl) {
            font-size: 20px;
            line-height: 28px;
        }
        @media (max-width: master.$lg) {
            font-size: 18px;
            line-height: 24px;
        }
        @media (max-width: master.$md) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.footerAbout {
    width: 413px;
    max-width: 413px;
    @media (max-width: master.$xl) {
        width: 390px;
        max-width: 390px;
    }
    @media (max-width: master.$md) {
        width: 300px;
        max-width: 300px;
    }
    & > h1 {
        font-size: 35px;
        line-height: 47px;
        font-family: var(--fontBold);
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        transform: scale(1);
        transition: all 250ms ease;
        &:hover {
            transform: scale(1.02);
            // color:var(--pinkColor)
        }
        @media (max-width: master.$xl) {
            font-size: 30px;
            line-height: 45px;
        }
        @media (max-width: master.$lg) {
            font-size: 28px;
            line-height: 41px;
        }
        @media (max-width: master.$md) {
            font-size: 24px;
            line-height: 30px;
        }
    }
    & > p {
        font-size: 20px;
        line-height: 37px;
        @media (max-width: master.$xl) {
            font-size: 16px;
            line-height: 35px;
        }
        @media (max-width: master.$lg) {
            font-size: 14px;
            line-height: 31px;
        }
        @media (max-width: master.$md) {
            // font-size: 13px;
            line-height: 32px;
        }
    }
}
.footerLinks {
    width: 130px;
    max-width: 130px;
    @media (max-width: master.$xl) {
        width: 110px;
        max-width: 110px;
    }
    @media (max-width: master.$lg) {
        width: 95px;
        max-width: 95px;
    }

    & > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        & > li {
            transform: translateX(0);
            transition: all 250ms ease;
            &:hover {
                transform: translateX(5px);
            }
            & > a {
                text-decoration: none;
                color: #ebebeb;
                font-size: 20px;
                line-height: 35px;
                transition: all 250ms ease;

                &:hover {
                    color: var(--pinkColor);
                }
                @media (max-width: master.$xl) {
                    font-size: 16px;
                    line-height: 33px;
                }
                @media (max-width: master.$lg) {
                    font-size: 14px;
                    line-height: 29px;
                }
                @media (max-width: master.$md) {
                    // font-size: 13px;
                    line-height: 32px;
                }
            }
        }
    }
}
.footerDownload {
    width: 125px;
    max-width: 125px;
    @media (max-width: master.$xl) {
        width: 95px;
        max-width: 95px;
    }
    @media (max-width: master.$md) {
        width: 105px;
        max-width: 105px;
    }
    & img {
        @media (max-width: master.$xl) {
            width: 58px;
        }
        @media (max-width: master.$lg) {
            width: 47px;
        }
        @media (max-width: master.$md) {
            width: 40px;
        }
    }
    & > a {
        margin-bottom: 20px;
        text-decoration: none;
        transition: all 250ms ease;
        &:hover {
            & > p {
                color: var(--pinkColor);
            }
        }
        & > p {
            margin-top: 15px;
            font-size: 15px;
            line-height: 21px;
            color: #ebebeb;
            @media (max-width: master.$xl) {
                font-size: 13px;
                line-height: 17px;
            }
            @media (max-width: master.$lg) {
                font-size: 11px;
                line-height: 13px;
            }
            @media (max-width: master.$md) {
                font-size: 12px;
                line-height: 13px;
            }
        }
    }
}
.footerSsl {
    width: 238px;
    max-width: 238px;
    @media (max-width: master.$xl) {
        width: 190px;
        max-width: 190px;
    }
    @media (max-width: master.$lg) {
        width: 160px;
        max-width: 160px;
    }

    & img {
        border-radius: 11px;
        @media (max-width: master.$xl) {
            width: 190px;
        }
        @media (max-width: master.$lg) {
            width: 150px;
        }
        @media (max-width: master.$md) {
            width: 140px;
            border-radius: 9px;
        }
    }
}
.copyrightContainer {
    font-size: 16px;
    line-height: 21px;
    color: var(--textColor);
    @media (max-width: master.$xl) {
        font-size: 14px;
        line-height: 17px;
    }
    @media (max-width: master.$lg) {
        font-size: 13px;
        line-height: 13px;
    }
}
.copyrightLinks {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & > a {
        margin-right: 20px;
        width: 37px;
        height: 37px;
        position: relative;
        @media (max-width: master.$xl) {
            width: 26px;
            height: 26px;

        }
        @media (max-width: master.$lg) {
            width: 22px;
            height: 22px;

        }
        @media (max-width: master.$md) {
            width: 26px;
            height: 26px;
            margin-right: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
      
    }
    & .iconContainer{
        width:37px;
        height:37px;
        border-radius: 50%;
        background-color:#291720b3;
        display: flex;
        align-items:center;
        justify-content:center;
        @media (max-width: master.$xl) {
            width: 26px;
            height: 26px;
        }
        @media (max-width: master.$lg) {
            width: 22px;
            height: 22px;
        }
        @media (max-width: master.$md) {
            width: 26px;
            height: 26px;
        }
        & svg{
            color:#fff;
            @media (max-width: master.$xl) {
                font-size:18px;

            }
            @media (max-width: master.$lg) {
                font-size:16px;

            }
            @media (max-width: master.$md) {
                font-size:20px;
            }
        }
    }
}
